<?xml version="1.0"?>
<launch>

	<!-- Nodes -->
	<include file="$(find supervisor)/launch/tf_transforms.launch" />
	<node name="supervisor"   pkg="supervisor"  type = "supervisor.py"  output="screen"/>

	<!-- Parameters -->
	<param name="control_command_topic"	value="sp_state_control"/>
	<param name="road_state_topic"		value="RoadState"/>
	<param name="mission_topic"			value="Mission"/>

</launch>
